extends layout

block content
    div(class="welcomePageMainDiv")
        a(href="/login" class="welcomePageButton") Login 
        p |
        a(href="/register" class="welcomePageButton") Register